<div  *ngIf="images.length > 1  && pag === 'home';">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let image of images; let i = index">
        <div class="picsum-img-wrapper">
          <img [src]="percorso + image.id + '.jpg'" [alt]="image.label" />
        </div>
        <div class="carousel-caption">
          <h3>{{image.label}}

          </h3>
        </div>
      </ng-template>
  </ngb-carousel>
</div>


<ng-template #noSlide *ngIf="images.length == 1  && pag == 'home';">
  <img [src]="percorso + images[0].id + '.jpg'" [alt]="images[0].label" class="fotoSingola"/>
</ng-template>

<div *ngIf="titoli  && pag == 'ricette';" id="carousel-title">
  <ngb-carousel >
    <ng-template ngbSlide *ngFor="let titolo of titoli; let i = index">
      <div class="picsum-img-wrapper">
      </div>
      <div class="carousel-caption">
        <h3>{{titolo}}

        </h3>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

