.container-title {
  h2 {
    font-size: 35px;
  };
  .paragrafo {
    font-size: 10px;
    text-align: justify;

    span {
      color: red;
      font-size: 15px;
    }
  }
}
.bg-red {
  background-color: #8e210b!important;
}
.logo {
  width: 60px;
  margin-right: 10px;
}




